@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
  height: 6px; /* height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #130061; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}
